<div class="container mx-auto px-4 lg:px-0 flex justify-center min-h-screen dark:bg-slate-800 dark:text-white bg-white text-slate-900 py-5">
  <div class="max-w-screen-lg w-full lg:w-1/4 text-center">
    <%= for {station, index} <- Stream.with_index(@stations) do %>
        <.link href={~p"/#{station.slug}"}>
        <p class="text-sm">
          <%= String.split(station.name) |> Enum.map(&String.capitalize/1) |> Enum.join(" ") %>
</p>
</.link>
<% end %>
</div>
</div>
